header,
main,
section,
h1,
button {
  border: 1px solid green;
}

body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  background-color: #e9ebee;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

h1 {
  margin: 0;
  font-size: 40px;
}
.header {
  background: #3b5998;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 200px;
}

.logo-register {
  display: flex;
}

.register-button {
  height: 28px;
  margin-top: 15px;
  margin-left: 7px;
  background-color: #42b72a;
  color: white;
}

.join-facebook {
  font-size: 7px;
  font-weight: 600;
}

.main {
  padding: 5px 200px;
}

.merchant-Brand {
  width: 440px;
  background: white;
  display: inline-block;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.community-character {
  display: inline-block;
  width: 440px;
  background: white;
  margin-left: 7px;
}

.merchant-figure {
  padding-left: 79px;
}

.community-figure {
  padding-left: 79px;
}

.merchant-caption {
  width: 200px;
  text-align: center;
  margin-top: 15px;
}

.merchant-details {
  width: 380px;
  margin-left: 30px;
  text-align: center;
}

.community-caption {
  text-align: center;
  width: 211px;
  margin-top: 15px;
}

.community-details {
  width: 380px;
  margin-left: 30px;
  text-align: center;
}
